.header {
  position: fixed;
  z-index: 100;
  left: 0;
  right: 0;
  top: 0;
  /* height: 60px; */
  background: var(--white);

  /* padding: 0 100px; */
  /* box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px; */
}

.container {
  width: min(1200px, 100% - 2rem);
  margin: 0 auto;
}

.logo_link {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav_items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.links {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  list-style: none;
}

.links li {
  display: inline-block;
  padding: 1.5rem 1rem;
}

.links a:link,
.links a:visited {
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 400;
  transition: all ease-in-out 0.5s;
  color: var(--black);
}

.links a:hover,
.links a:active {
  color: var(--main);
}

.navigationCheckbox {
  display: none;
}

.navigationButton {
  z-index: 2000;
  text-align: center;
  cursor: pointer;
  position: relative;
}
.iconsContainer {
  position: relative;
  padding: 3px;
}

.navigationIcon,
.navigationIcon::before,
.navigationIcon::after {
  width: 3rem;
  height: 2px;
  background-color: var(--black);
  display: inline-block;
}

.navigationIcon::before,
.navigationIcon::after {
  content: '';
  position: absolute;
  left: 0;
  transition: all 0.2s;
}

.navigationIcon::before {
  top: -0.8rem;
}
.navigationIcon::after {
  top: 0.8rem;
}

.navigationButton:hover .navigationIcon::before {
  top: -1rem;
}

.navigationButton:hover .navigationIcon::after {
  top: 1rem;
}

.navigationCheckbox:checked + .navigationButton .navigationIcon {
  background-color: transparent;
}

.navigationCheckbox:checked + .navigationButton .navigationIcon::before {
  top: 0;
  transform: rotate(135deg);
}

.navigationCheckbox:checked + .navigationButton .navigationIcon::after {
  top: 0;
  transform: rotate(-135deg);
}
