.form {
  max-width: 750px;
  width: 100%;
  margin: 0 auto;
  border-radius: 5px;
  padding: 2rem;
  background-color: var(--white);
}

.fixedButtonWrapper {
  background-color: var(--white);
  position: sticky;
  top: 75px; /* Adjust this value to control how far from the top the button should be fixed */
  left: 50%;
  /* transform: translateX(-50%); */
  z-index: 999;
}

.fixedButtonWrapper::after {
  content: '';
  display: block;
  position: absolute;
  inset: 0;
  border-radius: 3px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  display: none;
}
