:root {
  --white: #fff;
  --black: #000;
  --tinted-black: rgba(45, 45, 45, 0.7);
  --dark-main: #6a0406;
  --main: #b4070a;
  --variant-main: #f9dec9;
  --light-variant-main: #fff5ed;
  --complementary-main: #56e39f;
  --light-complementary-main: #f9fffc;
  --light-main: #ddf2ff;
  --logo-grey: #969593;
  --main-opacity: rgba(31, 142, 17, 0.8);
  --mid-opacity: rgba(31, 142, 17, 0.5);
  --light-opacity: rgba(31, 142, 17, 0.2);
  --grey: #b2b2b2;
  --light-grey: #cdcdcd;
  --dark-grey: #242f40;
  --blue: #c7ddff;
  --card-width: 200px;
  --card-height: 300px;
  --card-transition-duration: 800ms;
  --card-transition-easing: ease;
  --style-font: 'Great Vibes', cursive;

  --bg: #f3f4f4;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5% !important;
  /* min-height: 100vh; */
}

body {
  font-family: 'Poppins', sans-serif !important;
  font-size: 1.6rem !important;
  background-color: var(--bg) !important;
  /* min-height: 100vh; */
  /* overflow: hidden; */
  overflow-x: hidden;
}

.container {
  width: min(1200px, 100% - 2rem);
  margin: 0 auto;
}

.patron-container {
  display: flex;
  align-items: flex-start;
  gap: 5rem;
  margin: 11rem 0 6rem 0;
}

@media (max-width: 768px) {
  .patron-container {
    flex-direction: column;
  }
}

@media (max-width: 1100px) {
  .patron-container {
    flex-direction: column;
    width: 100% !important;
  }
}

.createSaveBtns {
  width: 100%;
  background-color: #56e39f;
}

.success {
  background-color: green !important;
}

.sticky {
  position: sticky;
  top: 8rem;
}

.glow-point {
  position: absolute;
  box-shadow: 0rem 0rem 1.2rem 0.6rem #b4070a;
  pointer-events: none;
}

.star {
  position: absolute;
  /* font-size: 3.5rem; */
  width: 200px;
  color: white;
  animation: fall 1500ms forwards;
}

.star::after {
  /* content: 'Merry Xmas'; */
  letter-spacing: 3px;
  display: inline-block;
  font-size: 1rem;
  animation: none;
}

@keyframes fall-1 {
  0% {
    transform: translate(0px, 0px) rotateX(45deg) rotateY(30deg) rotateZ(0deg)
      scale(0.25);
    opacity: 0;
  }

  5% {
    transform: translate(10px, -10px) rotateX(45deg) rotateY(30deg)
      rotateZ(0deg) scale(1);
    opacity: 1;
  }

  100% {
    transform: translate(25px, 200px) rotateX(180deg) rotateY(270deg)
      rotateZ(90deg) scale(1);
    opacity: 0;
  }
}

@keyframes fall-2 {
  0% {
    transform: translate(0px, 0px) rotateX(-20deg) rotateY(10deg) scale(0.25);
    opacity: 0;
  }

  10% {
    transform: translate(-10px, -5px) rotateX(-20deg) rotateY(10deg) scale(1);
    opacity: 1;
  }

  100% {
    transform: translate(-10px, 160px) rotateX(-90deg) rotateY(45deg)
      scale(0.25);
    opacity: 0;
  }
}

@keyframes fall-3 {
  0% {
    transform: translate(0px, 0px) rotateX(0deg) rotateY(45deg) scale(0.5);
    opacity: 0;
  }

  15% {
    transform: translate(7px, 5px) rotateX(0deg) rotateY(45deg) scale(1);
    opacity: 1;
  }

  100% {
    transform: translate(20px, 120px) rotateX(-180deg) rotateY(-90deg)
      scale(0.5);
    opacity: 0;
  }
}
