.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: #f3f4f4;
  position: fixed;
  inset: 0;
  z-index: 1;
}

.paper {
  width: 300px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
